* {
    margin: 0;
    padding: 0;
    font-family: Calibry, sans-serif;
}

html {
    height: 100%;
    background-color: rgb(43, 43, 43);
    color: blanchedalmond;
    line-height: 24px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;

}

.head {
    background-color: black;
    width: 100%;
    text-align: left;
    height: 100px;
    display: flex;
    align-items: center;
}

.text-block {
    padding-top: 10px;
}

.text {
    margin: 15px 0;
}
h1 {
    
    font-size: 40px;
    font-weight: 900;
    font-size: calc(24px + 16 * (100vw / 1280));
}

@media(max-width: 767px) {
    h1 {
        font-size: 40px;
        font-weight: 900;
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
}

h2 {    
    padding: 0 0 10px 0;
    font-size: 30px;   
}

p {
    margin: 10px 0;
    font-size: 18px;
}


